$color1: #d4d3d3;
$color2: #000;
$color3: #FDB79D;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    height: 100%;
    scroll-behavior: smooth;
    transition: 1s ease;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    display: block;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 20;
}
.nav-icon {
    display: flex;
    a {
        display: flex;
        padding: 5px;
        color: #000;
    }
    li {
        &:nth-of-type(2) a {
            margin: 0 3px;
        }
    }
}
.navbar-brand {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #000;
    span {
        font-weight: bold;
        text-transform: uppercase;
    }
}
.navbar .nav-item .nav-link {
    color: $color1;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.navbar .nav-item.active .nav-link {
    color: $color2;
    font-weight: 600;
}
.slider-section {
    padding-top: 30px;
    position: relative;
}
#slider {
    margin-top: 80px;
    .item-section {
        position: relative;
        .bg-title {
            display: none;
            font-size: 65px;
            text-transform: capitalize;
            position: absolute;
            font-weight: 800;
            top: 20%;
            font-family: "Roboto", sans-serif;
            text-align: center;
            letter-spacing: 1px;
            color: rgba($color: $color1, $alpha: 0.3);
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
        img {
            width: 250px;
            margin: 0 auto;
        }
        .item-content {
            display: none;
            opacity: 0;
            visibility: hidden;
            margin-top: 30px;
            text-align: center;
            span {
                display: block;
            }
            .title {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 40px;
                color: $color2;
                letter-spacing: 1px;
                font-family: "Open Sans", sans-serif;
                position: relative;
                padding-bottom: 15px;
                &::before {
                    content: "";
                    width: 80px;
                    height: 4px;
                    background-color: $color1;
                    bottom: 0;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
            }
            .price {
                font-size: 19px;
                font-weight: 700;
                color: $color2;
                letter-spacing: 1px;

                &::first-letter {
                    font-weight: normal;
                    font-size: 16px;
                }
            }
            .disc {
                letter-spacing: 1px;
                font-size: 19px;
                padding: 10px 0;
                color: $color1;
                font-weight: normal;
            }
            .offer {
                letter-spacing: 1px;
                font-size: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color1;
                span {
                    text-transform: uppercase;
                }
            }
            .banner-btn {
                margin-top: 10px;
                display: inline-block;
                margin: 0 auto;
                padding: 11px 33px;
                text-transform: uppercase;
                text-decoration: none;
                background: #000;
                color: #fff;
                letter-spacing: 1px;
                border-radius: 30px;
            }
        }
    }
}
#slider .owl-item {
    padding-top: 200px;
    transition: 0.5s ease;
}

#slider .owl-item.active + .owl-item {
    padding-top: 0px;
    transition: 0.5s ease;
    .item {
        .item-section {
            .bg-title {
                display: block;
                animation: fade ease 3s forwards 1s;
                visibility: visible;
            }
            .item-content {
                display: block;
                animation: fade ease 2s forwards;
                visibility: visible;
            }
        }
    }
}
@keyframes fade {
    to {
        opacity: 1;
    }
}
.slider-section {
    display: block;
    height: 100%;
    .social-media {
        position: absolute;
        bottom: 20px;
        left: 5%;
        z-index: 30;
        ul {
            display: flex;
            li {
                padding: 0 8px;
            }
            a {
                display: flex;
                color: $color1;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: rgba($color: $color1, $alpha: 0.2);
                align-items: center;
                justify-content: center;
            }
        }
    }
    .down-icon{
        color: $color1;
        border-radius: 50%;
        background: rgba($color: $color1, $alpha: 0.2);
        align-items: center;
        justify-content: center;
        display: flex;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5%;
        bottom: 20px;
        z-index: 30;
    }
}
.section-padding{
    padding-top: 180px;
}
.heading{
    text-align: center;
    .h-title{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p{
        color: $color1;
    }
}
.card-container{
    text-align: center;
    img{
       padding: 40px;
       background: #f7f7f7;
    }
    .card-text{
        background: #fff;
        padding: 20px 0;
    }
    .title{
       letter-spacing: 1px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: capitalize;
    }
    .dis{
        color: $color1;
        font-size: 14px;
     margin-top: 5px;
        margin-bottom: 0em;
    }
}
.section1{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
background: $color3;
    }
}
.pb-50{
    padding-bottom: 50px;
}
.section-100{
    padding-top: 100px;
}


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: visible;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  .swiper-slide{
      .item-container{
          text-align: center;
          border: 1px solid $color1;
          .item-text{
              padding: 15px 0;
              border-top: 1px solid $color1;
          }
          img{
              padding: 40px;
              background-color: #f7f7f7;
          }
          .title{
            letter-spacing: 1px;
             font-size: 16px;
             font-weight: bold;
             margin-bottom: 0;
             text-transform: capitalize;
         }
         .dis{
             color: $color3;
             font-size: 14px;
          margin-top: 5px;
             margin-bottom: 0em;
         }
      }
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -80px;
   
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    background: #f7f7f7;
    opacity: 1;
  
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: $color1;
}
.form-input{
    .title{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;

    }
    .dis{
        font-size: 18px;
        letter-spacing: 1px;
        color: $color1;
    }
    input{
        border: none;
        border-bottom: 1px solid $color1;
        width: 80%;
        &::placeholder{
            font-size: 18px;
            color: $color1;
        }

    }
    .sub-btn{
        margin-top: 10px;
 display: inline-block;
        margin: 0 auto;
        padding: 11px 33px;
        text-transform: uppercase;
        text-decoration: none;
        background: #000;
        color: #fff;
        letter-spacing: 1px;
        border-radius: 30px;
    }
}